// theme variables
$border-radius-base:  0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

$padding-base-vertical:     12px ;
$padding-base-horizontal:   18px ;

//colors
$gray-light: #ccc;



$brand-primary:#FF5722;
$brand-danger: #F22613;

$state-danger-bg: #F22613;
$state-danger-text:#96281B;

$state-info-bg:#2980b9;
$state-info-text:darken($state-info-bg, 10%);

$state-success-bg:#1abc9c;
$state-success-text:darken($state-success-bg, 10%);

$state-warning-bg:#f39c12;
$state-warning-text:darken($state-warning-bg, 10%);


// navbar
$navbar-inverse-bg: $brand-primary;
$navbar-inverse-color: #fff;

$navbar-default-bg: #2c3e50;
$navbar-default-color: #f9f9f9;
$navbar-default-link-color: #f2f2f2;

$navbar-default-link-active-bg: #e74c3c;
$navbar-default-link-hover-bg:$navbar-default-link-active-bg;

// dropdown
$dropdown-bg: darken($brand-primary, 5%);

@import "bootstrap";
@import "font-awesome";
@font-face {
    font-family: 'anonymous_proregular';
    src: url('/fonts/anonymous_pro-webfont.eot');
    src: url('/fonts/anonymous_pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anonymous_pro-webfont.woff2') format('woff2'),
         url('/fonts/anonymous_pro-webfont.woff') format('woff'),
         url('/fonts/anonymous_pro-webfont.ttf') format('truetype'),
         url('/fonts/anonymous_pro-webfont.svg#anonymous_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'anonymous_probold';
    src: url('/fonts/anonymous_pro_b-webfont.eot');
    src: url('/fonts/anonymous_pro_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anonymous_pro_b-webfont.woff2') format('woff2'),
         url('/fonts/anonymous_pro_b-webfont.woff') format('woff'),
         url('/fonts/anonymous_pro_b-webfont.ttf') format('truetype'),
         url('/fonts/anonymous_pro_b-webfont.svg#anonymous_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'anonymous_probold_italic';
    src: url('/fonts/anonymous_pro_bi-webfont.eot');
    src: url('/fonts/anonymous_pro_bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anonymous_pro_bi-webfont.woff2') format('woff2'),
         url('/fonts/anonymous_pro_bi-webfont.woff') format('woff'),
         url('/fonts/anonymous_pro_bi-webfont.ttf') format('truetype'),
         url('/fonts/anonymous_pro_bi-webfont.svg#anonymous_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'anonymous_proitalic';
    src: url('/fonts/anonymous_pro_i-webfont.eot');
    src: url('/fonts/anonymous_pro_i-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/anonymous_pro_i-webfont.woff2') format('woff2'),
         url('/fonts/anonymous_pro_i-webfont.woff') format('woff'),
         url('/fonts/anonymous_pro_i-webfont.ttf') format('truetype'),
         url('/fonts/anonymous_pro_i-webfont.svg#anonymous_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body{
  font-family: 'anonymous_proregular', monospace;
}
body{
  // padding-top: 50px;
}
.navbar
{
  margin: 0;
}

.text-danger{
  color: $state-danger-text;
}
