
$dashboard-background: #f9f9f9;
$dashboard-color:#34495e;
$dashboard-border: darken($dashboard-background, 10%);

.dashboard{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  display: relative;
  background: darken($dashboard-background, 5%);
  .dashboard-panel
  {
    box-sizing: border-box;
  }
  .dashboard-menu
  {
    width: 48px;
    background: $dashboard-background;
    color: $dashboard-color;
  }
  .dashboard-content
  {
    flex: 1 0 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    border-left: 1px solid $dashboard-border;
    box-sizing: border-box;
    background: #f9f9f9;
  }
  .dashboard-bar
  {
    height: 64px;
    background: darken($dashboard-background, 2%);
    color: $dashboard-color;
    position: relative;
    img.dashboard-user-image
    {
      width: 60px;
      height: auto;
      padding: 4px;
      display: inline-block;
    }
  }
  .dashboard-main-content
  {
    flex: 1 0 0;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;

  }
  nav.spider-dashboard-nav{
    width: 100%;
    box-sizing: border-box;
  }

  a.dashboard-header{
    text-align: center;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    color: $dashboard-color;
    border: $dashboard-border;
    background: darken($dashboard-background, 15%);
    padding: 5px;
  }
  .nav{
    margin: 0;
    padding: 0;
    li.active{
      border-right: 4px solid darken($dashboard-border, 5%);
    }
  }
  .nav > li > a{
    text-align: center;
    padding: 5px;

  }

  .wrapper{
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;

    .wrapper-inner{
      box-sizing: border-box;
      width: 100%;
      min-height: 100%;
      padding: 5px;
    }
  }

}
@media (max-width:499px){
  .dashboard{
    flex-direction: column;
    a.dashboard-header
    {
      width: 48px;
      height: 48px;
      display: inline-block;
      border: 0;
    }
  }
  .dashboard-menu
  {
    min-width: 100%;
    height:48px;
  }
  .spider-dashboard-nav{
    display: flex;
    width: 100%;
  }
  .dashboard .nav{
    margin-top: 0;
    flex: 1 0 0;
    display: flex;
    flex-grow: 1;
    li {
      display: inline-block;
      border: 0;
      &.active{
        border: 0;
        border-bottom: 4px solid darken($dashboard-border, 5%);
      }
      a{
        padding-top: 10px;
        height: 48px;
      }
    }
  }

}
.tooltip{
  font-family: monospace;
  padding: 5px 10px;
}
