<form ng-submit="changePassword(changePasswordForm)" name="changePasswordForm" novalidate="Form Is Invalid">
  <h2>Change Password </h2>
  <input type="hidden" name="user_id" value="{{getCurrentUser().id}}" ng-model="password._id" id="user_id">
  <fieldset class="form-group">
    <div class="form-group">
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password"
      required ng-model="password.password"  ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/">
      <p class="help-block text-danger" ng-if="changePasswordForm.password.$touched && changePasswordForm.password.$invalid && !changePasswordForm.$submitted">
        Password Should Be atleast 8 characters long and should contain at least one digit,
         should contain at least one lower case, should contain at least one upper case, should contain at least 8 from the mentioned characters.</p>
      <div class="alert alert-danger" ng-if="changePasswordForm.$submitted && !changePasswordForm.password.$valid">
        <p ng-if="changePasswordForm.password.$error.required">Password Field Is Required.</p>
        <p ng-if="changePasswordForm.password.$error.pattern">
          Password Should Be atleast 8 characters long and should contain at least one digit,
           should contain at least one lower case, should contain at least one upper case, should contain at least 8 from the mentioned characters. </p>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword" >Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword"
       class="form-control" placeholder="Confirm Password" required ng-model="password.confirmPassword" compare-to="password.password">
       <p class="help-block text-danger" ng-if="changePasswordForm.confirmPassword.$touched && changePasswordForm.confirmPassword.$invalid && !changePasswordForm.$submitted">
         Confirm Password Should Match Your Password
       </p>
    </div>
    <button type="submit" class="btn btn-danger btn-block"ng-disabled="changePasswordForm.$invalid">Change Password</button>
  </fieldset>
</form>
