<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form ng-if="role" class="form-inline" ng-submit="createOrEdit(createEditRoleForm, role)" name="createEditRoleForm" novalidate style="padding-top:10px;">
        <div class="alert alert-danger" ng-if="errors && errors.length>0 && createEditRoleForm.$invalid">
          <ul>
            <li ng-if="createEditRoleForm.name.$error.required">
              Name Field Is Required
            </li>
            <li ng-if="createEditRoleForm.name.$error.pattern">
              Name Field Should Be In Lowercase letters
            </li>
            <li ng-if="createEditRoleForm.name.$error.minlength">
              Name Field Should Be Have Atleast 5 characters
            </li>
            <li ng-if="createEditRoleForm.name.$error.maxlength">
              Name Field Should Be Not Have more than 16 characters
            </li>
            <li ng-if="createEditRoleForm.Description.$error.required">
              Description Field Is Required
            </li>
            <li ng-if="createEditRoleForm.description.$error.maxlength">
              Description Field Should Not Have more than 40 characters
            </li>
          </ul>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="administration" ng-model="role.name" required ng-minlength="5" ng-maxlength="16" ng-pattern="/^[a-z]+$/">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description", name='description' placeholder="Role Description" ng-model="role.description" ng-maxlength="40">
        </div>
        <button type="submit" class="btn btn-primary">{{ifRoleExists(role)?'Edit':'Create'}}</button>
      </form>
    </div>
    <div class="col-md-8">
      <br>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Display Name
              </th>
              <th>
                Description
              </th>
              <th>
                Edit
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="r in roles">
              <td>
                {{r.name}}
              </td>
              <td>
                {{r.displayName()}}
              </td>
              <td>
                <button type="button" class="btn btn-default btn-xs" uib-tooltip="{{r.description?r.description:'N/A'}}">Description</button>
              </td>
              <td>
                <a class="btn btn-primary btn-xs" ui-sref="accounts.admin.super.rolesEdit({roleId:r.id})" role="button">
                  <span class="fa fa-edit"></span>
                  Edit
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
