<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="display-3">Welcome, To Administarion Panel</h1>
    To Subscribe Our Access Any Of Your Course Information Please Download Our Android App <a ui-sref="guests.index"><i class="fa fa-2x fa-android"></i> E-Leaner App</a>
    <div class="btn-group" role="group" aria-label="Button group">
      <a type="button" class="nav-link" ui-sref="accounts.admin.super.index"ng-if=" getCurrentUser().isSuperAdmin()">Super Administration &gt;&gt;</a>
      <a type="button" class="nav-link" ui-sref="accounts.admin.schools.index" ng-if="getCurrentUser().isAdmin()" >School Administration &gt;&gt;</a>
    </div>
  </div>
</div>
