<div class="jumbotron jumbotron-fluid bg-primary text-center">
  <h2 class="display-4">{{school.name}} ({{school.abbrev}})</h2>
  <p class="lead">
    {{school.description}}
  </p>
  <p class="text-info">
    To See Current Students Or Courses In this School Please Download Our Android <a ui-sref="guests.index"><i class="fa fa-2x fa-android"></i> E-Leaner App</a>
  </p>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h5>Administrator</h5>
      <div class="list-group">
        <div class="list-group-item">
          <a href="#"><img src="/images/user.png" alt="{{getCurrentUser().username}}_profile_image" class="school-profile-user-img"></a>
          <p class="text-left">
            <span>{{school.creator.full_name}}</span>
            <br>
            <span>Handler: {{school.creator.username}}</span>
            <br>
            <span>Email <a href="#"><i class="fa fa-2x fa-envelope"></i></a> {{school.creator.email}}</span>
          </p>
        </div>
        <div class="list-group-item"><p>
          <span class="text-muted">Since: {{school.creator.created_at}}</span>
        </p></div>
      </div>
    </div>
    <div class="col-md-6">
      <h5>Profile <span class="label label-primary pull-right" style="padding: 5px;">{{school.private==1?'Private': 'Public'}} School</span></h5>
      <div class="clearfix">...</div>
      <div class="list-group">
        <div class="list-group-item">
          Location: {{school.location || 'N/A'}}
        </div>
        <div class="list-group-item">
          Longitude: ({{school.longitude || 'N/A'}})
          Latitude: ({{school.latitude || 'N/A'}})
        </div>
        <div class="list-group-item">
          Base Country: {{school.country || 'N/A'}}
        </div>
        <div class="list-group-item">
          Telephone: {{school.phone || 'N/A'}}
          <br>
          Email: <span ng-if="school.email">Email <a href="#"><i class="fa fa-2x fa-envelope"></i></a> {{school.email }}</span>
          <span ng-if="!school.email">N/A</span>
        </div>
        <div class="list-group-item">
          Other Contact:
          <br>
          {{school.other_contact|| 'N/A'}}
        </div>
      </div>
    </div>
  </div>
</div>
