<div class="container-fluid">
   <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        API Settings:
      </div>
    </div>
    <div class="alert alert-info" role="alert">
      <!-- <code></code> -->
        <p class="text-muted">
          You Can Do A Batch Update Or Registration Of Students/Lecturers/Courses
          Via Your API, Currently We Only Support JSON. For Required Fields Each Object (eg A Student Or Lecturer) Should Have See
          <a href="#" class="text-info">Guidelines</a>
          <br>
          <code>Note If API needs Authorization. Add Your Authorization Keys/Tokens/Etc. as query Strings And Parse OR Verify Them Accordingly In Your API
            as we do not support headers yet</code>
          <strong>ALSO</strong>
          <p>
            Please Make Sure That Your API supporst CORS.
          </p>
        </p>
    </div>
    <form class="form" role="form" name="APISettingsForm" ng-submit="updateAPISettings(APISettingsForm)">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="api_base_url">API Base URL</label>
          <input type="url" class="form-control " ng-class="{'form-control-error': APISettingsForm.api_base_url.$dirty && APISettingsForm.api_base_url.$invalid, 'form-control-success': APISettingsForm.api_base_url.$dirty && APISettingsForm.api_base_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          placeholder="Example : www.myschool.com/api/v2" name="api_base_url"
          ng-model="school.api_base_url">
          <div class="text-danger" role="alert" ng-if="APISettingsForm.api_base_url.$dirty && APISettingsForm.api_base_url.$invalid">
            <p>
              Some Errors Were Found
            </p>
            <p ng-if="APISettingsForm.api_base_url.$error.validAPIRoute">
                Something Went Wrong When validating, Your URL might be wrong
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.api_base_url && APISettingsForm.api_base_url.$valid">
        <div class="form-group">
          <label for="admin_verification_url">Administration Verification URL</label>
          <input type="url" class="form-control" placeholder="Verification For Administrator"
          ng-class="{'form-control-error': APISettingsForm.admin_verification_url.$dirty && APISettingsForm.admin_verification_url.$invalid,
          'form-control-success': APISettingsForm.admin_verification_url.$dirty && APISettingsForm.admin_verification_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          name="admin_verification_url" ng-model="school.admin_verification_url" >
          <div class="text-danger" role="alert" ng-if="APISettingsForm.admin_verification_url.$dirty && APISettingsForm.admin_verification_url.$invalid">
            <p>
              Some Errors Were Found
            </p>
            <p ng-if="APISettingsForm.admin_verification_url.$error.validAPIRoute">
                Something Went Wrong When validating, Your URL might be wrong
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.admin_verification_url && APISettingsForm.admin_verification_url.$valid">
        <div class="form-group">
          <label for="student_update_url">Student Update URL</label>
          <input type="url" class="form-control" placeholder="Return JSON Array OF Students"
          ng-class="{'form-control-error': APISettingsForm.student_update_url.$dirty && APISettingsForm.student_update_url.$invalid,
          'form-control-success': APISettingsForm.student_update_url.$dirty && APISettingsForm.student_update_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
           name="student_update_url" ng-model="school.student_update_url">
        </div>
        <div class="text-danger" role="alert" ng-if="APISettingsForm.student_update_url.$dirty
        && APISettingsForm.student_update_url.$invalid">
          <p>
            Some Errors Were Found
          </p>
          <p ng-if="APISettingsForm.student_update_url.$error.validAPIRoute">
              Something Went Wrong When validating, Your URL might be wrong
          </p>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.admin_verification_url  && APISettingsForm.admin_verification_url.$valid">
        <div class="form-group" >
          <label for="lecturer_update_url">Lecturer Update URL</label>
          <input type="url" class="form-control" placeholder="Return JSON Array OF Lecturers"
          ng-class="{'form-control-error': APISettingsForm.lecturer_update_url.$dirty && APISettingsForm.lecturer_update_url.$invalid,
           'form-control-success': APISettingsForm.lecturer_update_url.$dirty && APISettingsForm.lecturer_update_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          name="lecturer_update_url" ng-model="school.lecturer_update_url">
        </div>
        <div class="text-danger" role="alert" ng-if="APISettingsForm.lecturer_update_url.$dirty
        && APISettingsForm.lecturer_update_url.$invalid">
          <p>
            Some Errors Were Found
          </p>
          <p ng-if="APISettingsForm.lecturer_update_url.$error.validAPIRoute">
              Something Went Wrong When validating, Your URL might be wrong
          </p>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.admin_verification_url  && APISettingsForm.admin_verification_url.$valid">
        <div class="form-group">
          <label for="course_update_url">Course Update URL</label>
          <input type="url" class="form-control" placeholder="Return JSON Array OF Courses"
          ng-class="{'form-control-error': APISettingsForm.course_update_url.$dirty && APISettingsForm.course_update_url.$invalid,
          'form-control-success': APISettingsForm.course_update_url.$dirty && APISettingsForm.course_update_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          name="course_update_url" ng-model="school.course_update_url">
        </div>
        <div class="text-danger" role="alert" ng-if="APISettingsForm.course_update_url.$dirty
        && APISettingsForm.course_update_url.$invalid">
          <p>
            Some Errors Were Found
          </p>
          <p ng-if="APISettingsForm.course_update_url.$error.validAPIRoute">
              Something Went Wrong When validating, Your URL might be wrong
          </p>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.student_update_url  && APISettingsForm.student_update_url.$valid">
        <div class="form-group">
          <label for="course_associate_student_update_url">Associate Student Course Update URL</label>
          <input type="url" class="form-control" placeholder="Return JSON Array OF Courses"
          ng-class="{'form-control-error': APISettingsForm.course_associate_student_update_url.$dirty && APISettingsForm.course_associate_student_update_url.$invalid,
          'form-control-success': APISettingsForm.course_associate_student_update_url.$dirty && APISettingsForm.course_associate_student_update_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          name="course_associate_student_update_url" ng-model="school.course_associate_student_update_url">
        </div>
        <div class="text-danger" role="alert" ng-if="APISettingsForm.course_associate_student_update_url.$dirty
        && APISettingsForm.course_associate_student_update_url.$invalid">
          <p>
            Some Errors Were Found
          </p>
          <p ng-if="APISettingsForm.course_associate_student_update_url.$error.validAPIRoute">
              Something Went Wrong When validating, Your URL might be wrong
          </p>
        </div>
      </div>
      <div class="col-sm-6" ng-if="school.student_update_url  && APISettingsForm.student_update_url.$valid">
        <div class="form-group">
          <label for="course_associate_lecturer_update_url">Associate lecturer Course Update URL</label>
          <input type="url" class="form-control" placeholder="Return JSON Array OF Courses"
          ng-class="{'form-control-error': APISettingsForm.course_associate_lecturer_update_url.$dirty
          && APISettingsForm.course_associate_lecturer_update_url.$invalid,
          'form-control-success': APISettingsForm.course_associate_lecturer_update_url.$dirty
          && APISettingsForm.course_associate_lecturer_update_url.$valid}"
          ui-validate = "{validAPIRoute: 'verifyAPIURLExists($value)'}"
          name="course_associate_lecturer_update_url" ng-model="school.course_associate_lecturer_update_url">
        </div>
        <div class="text-danger" role="alert" ng-if="APISettingsForm.course_associate_lecturer_update_url.$dirty
        && APISettingsForm.course_associate_lecturer_update_url.$invalid">
          <p>
            Some Errors Were Found
          </p>
          <p ng-if="APISettingsForm.course_associate_lecturer_update_url.$error.validAPIRoute">
              Something Went Wrong When validating, Your URL might be wrong
          </p>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="form-group">
          <input type="submit" name="update" value="Update School API"
          class="btn btn-success btn-block">
        </div>
      </div>
    </form>
  </div>
</div>
